@using Garage3._0.Services
@using Garage3._0.Entites
@model Garage3._0.ModelView.AddVehicleModelView
@* @inject IGetVehicleTypesService service *@
@inject IGetDataService service


@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<div class="BoxAroundLayout">

    <h4>Vehicle</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="RegisterNumber" class="control-label"></label>
                    <input asp-for="RegisterNumber" class="form-control" />
                    <span asp-validation-for="RegisterNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Color" class="control-label"></label>
                    <input asp-for="Color" class="form-control" />
                    <span asp-validation-for="Color" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ModelType" class="control-label"></label>
                    <input asp-for="ModelType" class="form-control" />
                    <span asp-validation-for="ModelType" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Brand" class="control-label"></label>
                    <input asp-for="Brand" class="form-control" />
                    <span asp-validation-for="Brand" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="OwnerPersonalNumber" class="control-label"></label>
                    <select class="form-control" name="OwnerPersonalNumber" asp-items="await service.GetMemberIdsAsync()">
                        <option value="">Select owner's Id</option>
                    </select>
                    <span asp-validation-for="OwnerPersonalNumber" class="text-danger"></span>
                </div>
                @* Select the vehicle type id *@
                <div class="form-group">
                    <label asp-for="VehicleTypeId" class="control-label"></label>
                    <select class="form-control" name="VehicleTypeId" asp-items="await service.GetVehicleTypesAsync()">
                        <option value="">Select vehicle type</option>
                    </select>
                    <span asp-validation-for="VehicleTypeId" class="text-danger"></span>
                </div>
           
              @*   <div class="form-group">
                    <label asp-for="VehicleTypeId" class="control-label"></label>
                    <select class="form-control" name="VehicleTypeId" asp-items="await service2.GetDataAsync(v => new SelectListItem
                    {
                        Text = v.Type,
                        Value = v.VehicleTypeId.ToString()
                    })">
                        <option value="">Select vehicle type</option>
                    </select>
                    <span asp-validation-for="VehicleTypeId" class="text-danger"></span>
                </div> *@
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

</div>

