html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    
}

h1 {
    color: black; /* Vit färg för text */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Textskugga */
}
/* Hide navigation bars and print button when printing */
@media print {
    .navbar {
        display: none !important;
    }

    button {
        display: none;
    }
}

