@model Garage3._0.Entites.Parking

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<div class="BoxAroundLayout">
    <h4>Parking</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="ParkingLotNumber" class="control-label"></label>
                    <input asp-for="ParkingLotNumber" class="form-control" />
                    <span asp-validation-for="ParkingLotNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ArrivalTime" class="control-label"></label>
                    <input asp-for="ArrivalTime" class="form-control" readonly/>
                    <span asp-validation-for="ArrivalTime" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="VehicleId" class="control-label"></label>
                    <input asp-for="VehicleId" class="form-control" />
                    <span asp-validation-for="VehicleId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

</div>

